main {
    display: flex;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Dubai, sans-serif;
}

body {
    margin: 0;
}

.todo-space {
    display: flex;
    margin: 0;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #7D43B0);
    align-items: center;
    justify-content: center;
}

h2 {
    font-size: xxx-large;
    max-height: 5vw;
    margin-top: 2vw;
}

.todo-app-field {
    display: flex;
    align-items: center;
    width: 600px;
    min-height: 200px;
    max-height: 540vh;
    flex-direction: column;
    background-color: white;
    border-radius: 6px;
    box-shadow: 5px 5px 10px 0 black;
    animation-duration: 1s;
    animation-name: field-move;
}

.header {
    display: flex;
    padding-bottom: 2vh;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: darkgrey;
}

form {
    display: flex;
    align-items: center;
    margin-bottom: 2vw;
}

.input-field {
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    width: 400px;
    height: 40px;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 10px;
    border: none;
    outline: none;
}

.add {
    font-size: large;
    justify-content: center;
    display: flex;
    margin-left: 2vw;
    background: linear-gradient(135deg, #153677, #7D43B0);
    color: white;
    width: 5vw;
    height: 40px;
    border-radius: 10px;
    border: none;
    outline: none;
    align-items: center;
}

ul li {
    user-select: none;
    list-style: none;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    justify-content: space-between;
    align-items: center;
    border: none;
    outline: none;
    padding-left: 0;
}

li {
    margin: 10px;
    padding: 10px;
}

ul {
    padding-left: 0;
}

.checked {
    color: darkgrey;
    text-decoration: line-through;
}

@keyframes field-move {
    from {
        margin-top: 5px;
        margin-left: 5px;
        box-shadow: none;
    }

    to {
        border-radius: 6px;
        box-shadow: 5px 5px 10px 0 black;
    }

}